* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Central gothic', sans-serif;
    background-color: #f4f4f4;
    min-height:120vh;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-container a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition:0.3s;
}

.nav-container a:hover {
    color: #f1356d;
}


.main-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;   
}
.about_us{
    display:flex;
    justify-content: center;
    margin-top:auto;
    width:200px;
    height:200px;
}


.footer-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:auto;
}

.welcome-text {
    color: #333;
    margin-right: 20px;
    padding: 8px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
